%nav.side-nav.side-nav-left
  %h2
    %a{:href => "/"} World Brands+
  %ul.list-unstyled
    %li
      =link_to "Brand", brands_path
      -# %a{:href => "/brands"} Brand
    %li
      =link_to "Shop", shops_path
      -# %a{:href => "#"} Shop
    %li
      =link_to "Info Sites", info_sites_path
      -# %a{:href => "/info_sites"} Info Site
    %li
    -if user_signed_in?
      %li
        = link_to 'Logout', destroy_user_session_path
    -else
      %li
        = link_to 'Login', new_user_session_path
      %li
        = link_to 'Sign Up', new_user_registration_path
    %li
      %a{:href => "#"} Contact Us
    -# %li
    -#   %a{:href => "#"} Sunglasses & Eyewear
    -# %li
    -#   %a{:href => "#"} Contact Us
    -# %li
    -#   %a{:href => "#"} Jewelry
.site-overlay
.wrapper
  %header
    .container-fluid
      .row
        .col-sm-12
          .menu.pull-left{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Menu"}
            %i.icon.ion-ios-more
          .account.pull-right
            %ul.list-inline
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon.ion-ios-person-outline{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "My Account"}
                %ul.dropdown-menu.dropdown-menu-right.text-center
                  %li.dropdown-triangle
                  -if user_signed_in?
                    %li
                      = link_to 'Log Out', destroy_user_session_path
                    %li
                      = link_to 'My Profile', edit_mypage_profile_path
                  -else
                    %li
                      =link_to "Log In", new_user_session_path
                    %li
                      =link_to "Sign Up", new_user_registration_path
          .search.pull-right
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon.ion-ios-search-strong{"data-container" => "body", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Search"}
              %ul.dropdown-menu.pull-right
                %li.dropdown-triangle
                %li
                  .input-group
                    %input.form-control{:name => "search", :type => "text", :value => ""}/
                    .input-group-btn
                      %button.btn.btn-default{:type => "button"} Search
          .shopping-bag.pull-right
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon.ion-bag{"data-container" => "body", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Shopping Bag"}
                %strong.counter 0
              %ul.dropdown-menu.pull-right
                %li.dropdown-triangle
                %li
                  %p.empty.text-center Your shopping cart is empty!
