%nav.side-nav.side-nav-left
  %h2
    -# %a{:href => "/"} World Brands+
    =link_to top_path do
      %img{:alt => "", :src => "/img/SiteLogo6.png"}/
  %ul.list-unstyled
    -if user_signed_in?
      %li
        =link_to "Brands", brands_path
      %li
        =link_to "Info Sites", info_sites_path
      %li
        = link_to 'My Page', login_mypage_path
      %li
        = link_to 'My Profile', edit_login_mypage_profile_path
      %li
        = link_to 'Log Out', destroy_user_session_path
      %li
        = link_to 'About Us', about_path
      %li
        = link_to 'Contact Us', new_contact_path
    -else
      %li
        =link_to "Brands", brands_path
      %li
        =link_to "Info Sites", info_sites_path
      %li
        = link_to 'Login', new_user_session_path
      %li
        = link_to 'Sign Up', new_user_registration_path
      %li
        = link_to 'About Us', about_path
      %li
        = link_to 'Contact Us', new_contact_path


.site-overlay
.wrapper
  %header
    .container-fluid
      .row
        .col-sm-12
          .menu.pull-left{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Menu"}
            -# %i.icon.ion-ios-more
            %img{:alt => "", :src => "/img/SiteLogo6.png"}/
          .account.pull-right
            %ul.list-inline
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon.ion-ios-person-outline{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "My Account"}
                %ul.dropdown-menu.dropdown-menu-right.text-center
                  %li.dropdown-triangle
                  -if admin_signed_in?
                    %li
                      = link_to 'Log Out(admin)', destroy_admin_session_path
                  -if user_signed_in?
                    %li
                      = link_to 'My Page', login_mypage_path
                    %li
                      = link_to 'My Profile', edit_login_mypage_profile_path
                    %li
                      = link_to 'Log Out', destroy_user_session_path
                  -else
                    %li
                      =link_to "Log In", new_user_session_path
                    %li
                      =link_to "Sign Up", new_user_registration_path

          -# -if current_page?(brands_path)
          -#   .search.pull-right
          -#     .btn-group
          -#       %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          -#         %i.icon.ion-ios-search-strong{"data-container" => "body", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Search"}
          -#       %ul.dropdown-menu.pull-right
          -#         %li.dropdown-triangle
          -#         %li
          -#           = search_form_for @q do |f|
          -#             .input-group
          -#               = f.search_field :name_cont, class: "form-control"
          -#               -# %input.form-control{:name => "search", :type => "text", :value => ""}/
          -#               .input-group-btn
          -#                 -# %button.btn.btn-default{:type => "button"} Search
          -#                 = f.submit "Search", class: "btn btn-default"
-# = search_form_for @q do |f|
-#   = f.label :name, "Keyword"
-#   = f.search_field :name_cont
-#   = f.submit "検索", class: "actions"

          -# .shopping-bag.pull-right
          -#   .btn-group
          -#     %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          -#       %i.icon.ion-bag{"data-container" => "body", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Shopping Bag"}
          -#       %strong.counter 0
          -#     %ul.dropdown-menu.pull-right
          -#       %li.dropdown-triangle
          -#       %li
          -#         %p.empty.text-center Your shopping cart is empty!
