-# !!!
-# %html
-#   %head
-#     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#     %title BrandGuide
-#     = csrf_meta_tags
-#     = csp_meta_tag
-#     = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
-#     -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
-#   %body
-#     = yield
-#
-#   = javascript_include_tag "application"

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title BrandGuide
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# %link{:href => "assets/css/bootstrap.min.css", :rel => "stylesheet"}/
    -# %link{:href => "assets/css/font-awesome.min.css", :rel => "stylesheet"}/
    -# %link{:href => "assets/css/ionicons.min.css", :rel => "stylesheet"}/
    -# %link{:href => "//fonts.googleapis.com/css?family=Roboto:400,300,500,700", :rel => "stylesheet"}/
    -# %link{:href => "assets/js/owl-carousel/owl.carousel.css", :rel => "stylesheet"}/
    -# %link{:href => "assets/scc/main.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    =render "header"
    -if notice.present?
      .container
        %p.notice.alert.alert-success{:role => "alert"}
          =notice
    -if alert.present?
      .container
        %p.alert.alert-danger{:role => "alert"}
          =alert
    = yield
    =render "footer"
  = javascript_include_tag "application"
  :javascript
    $(document).ready(function() {

      // Main banners slideshow
      $("#slideshow").owlCarousel({
        items: 6,
        autoPlay: 6000,
        singleItem: true,
        navigation: true,
        responsive: true,
        navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
        pagination: true
      });

      // scrollReveal plugin
      window.sr = new scrollReveal();

      // Add to cart button success alert
      $("#button-cart").on("click", function() {
        $("#content").parent().before('<div class="alert alert-success"> Success: You have added <a href="#">Petal Short Romper</a> to your <a href="#">shopping cart</a>! <button type="button" class="close" data-dismiss="alert"><i class="icon ion-ios-close-empty"></i></button></div>');
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });

      // Add to wishlist button alert
      $("#button-wishlist").on("click", function() {
        $("#content").parent().before('<div class="alert alert-info"> You must <a href="#">login</a> or <a href="#">create an account</a> to save <a href="#">Petal Short Romper</a> to your <a href="#">whishlist</a>! <button type="button" class="close" data-dismiss="alert"><i class="icon ion-ios-close-empty"></i></button></div>');
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });

      // Compare button success alert
      $("#button-compare").on("click", function() {
        $("#content").parent().before('<div class="alert alert-success"> Success: You have added <a href="#">Petal Short Romper</a> to your <a href="#">product comparison</a>! <button type="button" class="close" data-dismiss="alert"><i class="icon ion-ios-close-empty"></i></button></div>');
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });

      // Datetimepicker
      $(".date").datetimepicker({
        pickTime: false
      });

      // Magnific popup
      $(".thumbnails").magnificPopup({
        type: "image",
        delegate: "a",
        gallery: {
          enabled: true
        }
      });

      // Scroll to reviews
      $("#reviews").on("click", function(e) {
        e.preventDefault();
        $("html, body").animate({
          scrollTop: $(".panel-review").offset().top
        }, "slow");
        $("#collapse-review").collapse("show");
      });
    });


  -# %span#home
  -# %script{:src => "assets/js/jquery.min.js"}
  -# %script{:src => "assets/js/bootstrap.min.js"}
  -# %script{:src => "assets/js/owl-carousel/owl.carousel.min.js"}
  -# %script{:src => "assets/js/smoothscroll.js"}
  -# %script{:src => "assets/js/scrollreveal.min.js"}
  -# %script{:src => "assets/js/script.js"}
